<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <title>Forum-Board</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/style.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body>
    <main>
    <header>
      <h1 id='boardTitle' class="display-6 p-3"></h1>
    </header>
    
    <div id='submitNewThread' class="container">
      <h3>Submit a new thread:</h3>
      <form id="newThread" class="col-8" method="post" >
        <textarea class="form-control" rows="4" type='text' placeholder='Thread text...' name='text' required=true></textarea><br>
        <div class="input-group">
          <input class="form-control" type='text' placeholder='password to delete' name='delete_password' required=true>
          <button class="btn btn-outline-secondary" type="submit" value="Submit" >Submit</button>
        </div>
      </form>
    </div>
    
    <div id='display'></div>
    
    </main>
    

    <script>
      $(function() {
        var current = window.location.pathname.replace('/b/','');
        var url = "/api/threads/"+current;
        $('#boardTitle').text('Welcome to the \''+current+'\' board')
        $.ajax({
          type: "GET",
          url: url,
          success: function(data)
          {
            var boardThreads= [];
            data.forEach(function(ele) {
              console.log(ele);
              var thread = ['<div class="thread container p-2">'];
              thread.push('<div id="content" class="col-6 ms-3">')
              //timestamp
              thread.push('<p class="text-body-secondary">id: '+ele._id+' ('+ele.created_on+')</p>');
              
              //text
              thread.push('<h4 class="mb-3">'+ele.text+'</h4>');
              //delete thread
              thread.push('<div class="col-6 mb-3">')
              thread.push('<form id="deleteThread"><div class="input-group"><input type="hidden" value="'+ele._id+'" name="thread_id" required=true><input type="text" placeholder="password" name="delete_password" required=true style="" class="form-control"><button type="submit" value="Delete" style="" class="btn btn-outline-secondary">Delete</button></div></form>');
              //report thread
              thread.push('<form id="reportThread"><input type="hidden" name="report_id" value="'+ele._id+'"><input type="submit" value="Report" style="" class="form-control btn btn-outline-secondary"></form>');
              thread.push('</div>')
              thread.push('</div><div class="ms-5">');
              var hiddenCount = ele.replycount - 3;
              if (hiddenCount < 1) { hiddenCount = 0 };
              thread.push('<p>'+ele.replycount+' replies total ('+hiddenCount+' hidden)- <a href="'+window.location.pathname+"/"+ele._id+'">See the full thread here</a>.</p>');
              ele.replies.forEach(function(rep) {
                thread.push('<div class="reply container p-2 mt-2">')
                thread.push('<small class="text-body-secondary" >id: '+rep._id+' ('+rep.created_on+')</small>');
                //text
                thread.push('<h6 class="mb-1 mt-1">'+rep.text+'</h6>');
                //delete reply
                thread.push('<div class="col-2 mb-3">')
                thread.push('<form id="deleteReply"><div class="input-group input-group-sm"><input type="hidden" value="'+ele._id+'" name="thread_id" required=true><input type="hidden" value="'+rep._id+'" name="reply_id" required=true><input type="text" placeholder="password" name="delete_password" required=true style="" class="form-control"><button type="submit" value="Delete" class="btn btn-outline-secondary" style="">Delete</button></div></form>');
                //report reply
                thread.push('<form id="reportReply"><input type="hidden" name="thread_id" value="'+ele._id+'"><input type="hidden" name="reply_id" value="'+rep._id+'"><input type="submit" value="Report" class="form-control btn btn-outline-secondary btn-sm"></form>');
                thread.push('</div>')
                thread.push('</div>')
              });
              //new reply
              thread.push('<div class="newReply container" >')
              thread.push('<form class="col-6" action="/api/replies/'+current+'/" method="post" id="newReply">');
              thread.push('<input type="hidden" name="thread_id" value="'+ele._id+'">');
              thread.push('<textarea class="form-control" style=""rows="5" type="text" placeholder="Quick reply..." name="text" required=true></textarea><br>');
              thread.push('<div class="input-group">')
              thread.push('<input class="form-control" type="text" placeholder="password to delete" name="delete_password" required=true><button class="btn btn-outline-secondary" type="submit" value="Submit">Submit</button>')
              thread.push('</div></form></div></div></div>')
              boardThreads.push(thread.join(''));
            });
            $('#display').html(boardThreads.join(''));
          }
        });
        //post Thread
        $('#newThread').submit(function(){
          $(this).attr('action', "/api/threads/" + current);
        });
        //put thread
        $('#display').on('submit','#reportThread', function(e) {
          var url = "/api/threads/"+current;
          $.ajax({
            type: "PUT",
            url: url,
            data: $(this).serialize(),
            success: function(data) { alert(data) }
          });
          e.preventDefault();
        });
        //put replay
        $('#display').on('submit','#reportReply', function(e) {
          var url = "/api/replies/"+current;
          $.ajax({
            type: "PUT",
            url: url,
            data: $(this).serialize(),
            success: function(data) { alert(data) }
          });
          e.preventDefault();
        });
        //delete thread
        $('#display').on('submit','#deleteThread', function(e) {
          var url = "/api/threads/"+current;
          $.ajax({
            type: "DELETE",
            url: url,
            data: $(this).serialize(),
            success: function(data) { alert(data) }
          });
          e.preventDefault();
        }); 
        //delete reply       
        $('#display').on('submit','#deleteReply', function(e) {
          var url = "/api/replies/"+current;
          $.ajax({
            type: "DELETE",
            url: url,
            data: $(this).serialize(),
            success: function(data) { alert(data) }
          });
          e.preventDefault();
        });              
      });
   </script>
  </body>
</html>
