<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head >
	<title>Forum-Thread</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/public/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>

<body>
  <main>
	<header class="ms-3">
    <h4 style="display:inline">
      <a style="display:inline" id='threadLink'></a>
		  <div style="display:inline" id='threadTitle'></div>
    </h4>
	</header>
	<br>
    <div id='boardDisplay' class="container ms-2"></div>
  </main>
    <script>
      $(function() {
        var currentURL = window.location.pathname.replace('/b/','');
        currentURL = currentURL.split('/');
        
        var url = "/api/replies/"+currentURL[0];
        $('#threadLink').text('/'+currentURL[0]);
        $('#threadLink').attr("href", '/b/'+currentURL[0])
        $('#threadTitle').text('/'+currentURL[1]);
        $.ajax({
          type: "GET",
          url: url,
          data:{thread_id: currentURL[1]},
          success: function(ele)
          {
            var boardThreads= [];
              console.log(ele);
              var thread = ['<div class="thread">'];
              thread.push('<div class="ps-3">')
              //id 
              thread.push('<p class="id text-body-secondary">id: '+ele._id+' ('+ele.created_on+')</p>');
              //text
              thread.push('<h2>'+ele.text+'</h2>');
              //delete
              thread.push('<div class="col-4 mb-3">')
              thread.push('<form id="deleteThread"><div class="input-group"><input type="hidden" value="'+ele._id+'" name="thread_id" required=""><input type="text" placeholder="password" name="delete_password" required="" class="form-control"><button type="submit" value="Delete" class="btn btn-outline-secondary">Delete</button></div></form>');
              //report

              thread.push('<form id="reportThread"><input type="hidden" name="report_id" value="'+ele._id+'"><input type="submit" value="Report" class="btn btn-outline-secondary form-control"></form>');
              thread.push('</div>')
              thread.push('</div><div class="replies ms-5">');
              ele.replies.forEach(function(rep) {
                thread.push('<div class="reply ps-2 mt-2">')
                //id
                thread.push('<small class="id text-body-secondary" >id: '+rep._id+' ('+rep.created_on+')</small>');
                //text
                thread.push('<h4>'+rep.text+'</h4>');
                
                //delete
                thread.push('<div class="col-4 mb-3">')
                thread.push('<form id="deleteReply"><div class="input-group input-group-sm"><input type="hidden" value="'+ele._id+'" name="thread_id" required=""><input type="hidden" value="'+rep._id+'" name="reply_id" required=""><input type="text" placeholder="password" name="delete_password" required="" class="form-control"><button type="submit" value="Delete" class="btn btn-outline-secondary">Delete</button></div></form>');
                //report
                thread.push('<form id="reportReply"><input type="hidden" name="thread_id" value="'+ele._id+'"><input type="hidden" name="reply_id" value="'+rep._id+'"><input class="form-control btn btn-outline-secondary" type="submit" value="Report"></form>');
                thread.push('</div>')
                thread.push('</div>')
              });
              thread.push('<div class="newReply container">')
              thread.push('<form class="col-6" action="/api/replies/'+currentURL[0]+'/" method="post" id="newReply">');
              thread.push('<input type="hidden" name="thread_id" value="'+ele._id+'">');
              thread.push('<textarea class="form-control" rows="5"type="text" placeholder="Quick reply..." name="text" required=""></textarea><br>');
              thread.push('<div class="input-group">')
              thread.push('<input class="form-control" type="text" placeholder="password to delete" name="delete_password" required="" ><button class="btn btn-outline-secondary" type="submit" value="Submit">Submit</button>')
              thread.push('</form></div></div></div></div>')
              boardThreads.push(thread.join(''));
            $('#boardDisplay').html(boardThreads.join(''));
          }
        });
        
        //put thread
        $('#boardDisplay').on('submit','#reportThread', function(e) {
          var url = "/api/threads/"+currentURL[0];
          $.ajax({
            type: "PUT",
            url: url,
            data: $(this).serialize(),
            success: function(data) { alert(data) }
          });
          e.preventDefault();
        });
        //put reply
        $('#boardDisplay').on('submit','#reportReply', function(e) {
          var url = "/api/replies/"+currentURL[0];
          $.ajax({
            type: "PUT",
            url: url,
            data: $(this).serialize(),
            success: function(data) { alert(data) }
          });
          e.preventDefault();
        });
        //delete thread
        $('#boardDisplay').on('submit','#deleteThread', function(e) {
          var url = "/api/threads/"+currentURL[0];
          $.ajax({
            type: "DELETE",
            url: url,
            data: $(this).serialize(),
            success: function(data) { alert(data) }
          });
          e.preventDefault();
        });
        //delete reply        
        $('#boardDisplay').on('submit','#deleteReply', function(e) {
          var url = "/api/replies/"+currentURL[0];
          $.ajax({
            type: "DELETE",
            url: url,
            data: $(this).serialize(),
            success: function(data) { alert(data) }
          });
          e.preventDefault();
        });              
      });
   </script>
  </body>
</html>