<!DOCTYPE html>
<html>

<head>
	<title>Forum-Thread</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/public/style.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js">
	</script>
</head>

<body>
	<header>
		<h1 style="font-size:2vw;" id='threadTitle'></h1>
	</header>
	<br>
    
    <div id='boardDisplay'></div>
    <script>
      $(function() {
        var currentURL = window.location.pathname.replace('/b/','');
        currentURL = currentURL.split('/');
        
        var url = "/api/replies/"+currentURL[0];
        $('#threadTitle').text(window.location.pathname);
        $.ajax({
          type: "GET",
          url: url,
          data:{thread_id: currentURL[1]},
          success: function(ele)
          {
            var boardThreads= [];
              console.log(ele);
              var thread = ['<div class="thread">'];
              thread.push('<div class="main">')
              //id 
              thread.push('<p class="id" style="font-size:1.3vw;">id: '+ele._id+' ('+ele.created_on+')</p>');
              //report
              thread.push('<form id="reportThread"><input type="hidden" name="report_id" value="'+ele._id+'"><input type="submit" value="Report" style="display:inline-block; font-size:1.2vw; padding:0.3vh 0.3vw;"></form>');
              //delete
              thread.push('<form id="deleteThread"><input type="hidden" value="'+ele._id+'" name="thread_id" required=""><input type="text" placeholder="password" name="delete_password" required="" style="display:inline-block; font-size:1.2vw; padding:0.3vh 0.3vw;"><input type="submit" value="Delete" style="display:inline-block; font-size:1.2vw; padding:0.3vh 0.3vw;"></form>');
              //text
              thread.push('<h3 style="font-size:1.5vw; margin-left:0.5vw; margin-bottom:1vh;">'+ele.text+'</h3>');
              thread.push('</div><div class="replies">');
              ele.replies.forEach(function(rep) {
                thread.push('<div class="reply">')
                //id
                thread.push('<p class="id" style="font-size:1vw;">id: '+rep._id+' ('+rep.created_on+')</p>');
                //report
                thread.push('<form id="reportReply"><input type="hidden" name="thread_id" value="'+ele._id+'"><input type="hidden" name="reply_id" value="'+rep._id+'"><input style="font-size:1vw;display:inline-block;padding:0.2vh 0.2vw; margin-top:0.3vh;" type="submit" value="Report"></form>');
                //delete
                thread.push('<form id="deleteReply"><input type="hidden" value="'+ele._id+'" name="thread_id" required=""><input type="hidden" value="'+rep._id+'" name="reply_id" required=""><input type="text" placeholder="password" name="delete_password" required="" style="display:inline-block; font-size:1vw; padding:0.2vh 0.2vw;"><input type="submit" value="Delete" style="display:inline-block; font-size:1vw; padding:0.2vh 0.2vw;"></form>');
                //text
                thread.push('<p style="font-size:1vw">'+rep.text+'</p>');
                thread.push('</div>')
              });
              thread.push('<div class="newReply">')
              thread.push('<form action="/api/replies/'+currentURL[0]+'/" method="post" id="newReply">');
              thread.push('<input type="hidden" name="thread_id" value="'+ele._id+'">');
              thread.push('<textarea rows="5" cols="80" type="text" placeholder="Quick reply..." name="text" required="" style="display:inline-block; font-size:0.9vw; padding:0.2vh 0.2vw; margin-bottom:0.5vh"></textarea><br>');
              thread.push('<input type="text" placeholder="password to delete" name="delete_password" required="" style="display:inline-block; font-size:1vw; padding:0.2vh 0.2vw;"><input style="display:inline-block; font-size:1vw; padding:0.2vh 0.2vw; margin-left:0.2vw" type="submit" value="Submit" >')
              thread.push('</form></div></div></div>')
              boardThreads.push(thread.join(''));
            $('#boardDisplay').html(boardThreads.join(''));
          }
        });
        
        //put thread
        $('#boardDisplay').on('submit','#reportThread', function(e) {
          var url = "/api/threads/"+currentURL[0];
          $.ajax({
            type: "PUT",
            url: url,
            data: $(this).serialize(),
            success: function(data) { alert(data) }
          });
          e.preventDefault();
        });
        //put reply
        $('#boardDisplay').on('submit','#reportReply', function(e) {
          var url = "/api/replies/"+currentURL[0];
          $.ajax({
            type: "PUT",
            url: url,
            data: $(this).serialize(),
            success: function(data) { alert(data) }
          });
          e.preventDefault();
        });
        //delete thread
        $('#boardDisplay').on('submit','#deleteThread', function(e) {
          var url = "/api/threads/"+currentURL[0];
          $.ajax({
            type: "DELETE",
            url: url,
            data: $(this).serialize(),
            success: function(data) { alert(data) }
          });
          e.preventDefault();
        });
        //delete reply        
        $('#boardDisplay').on('submit','#deleteReply', function(e) {
          var url = "/api/replies/"+currentURL[0];
          $.ajax({
            type: "DELETE",
            url: url,
            data: $(this).serialize(),
            success: function(data) { alert(data) }
          });
          e.preventDefault();
        });              
      });
   </script>
  </body>
</html>