* {
    margin: 0px;
    padding: 0px;
    font-family: MuseoSans-500, Arial, sans-serif;
    color: white;
    text-shadow: 3px 3px 2px #000000;
  }
  
  body {
    background-color: #161616 !important; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
  }
  
  
 
  